.dashboard-header {
    color: rgb(107, 104, 104);
}

.margin-left-16 {
    margin-left: 16px;

}

.dashboard-course-card {
    /* min-width: 260px;
    max-width: 260px; */
    width: 260px;
}

.card-container {
    /* max-width: 1160px; */
    /* margin-left: -15px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.dashboard-container {
    height: 100%;
    /* display: flex;
    flex-direction: column; */
}

.card-link {
    text-decoration: none;
}

.card-link .card-title {
    color: rgb(43, 112, 215);
}

