.dashboard-header {
    width: 100%;
    color: rgb(107, 104, 104);
}
.inner-dashboard-content {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.dashboard-course-card {
    min-width: 260px;
    max-width: 260px;
    margin: 15px;
    
}
.card-container {
    max-width: 1160px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;

    background-color: red;
}

.dashboard-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}