.main-nav-sidebar {
    background-color: black;
}

.list-group .main-nav-sidebar-element {
    font-size: 0.74em;
    background-color: black;
    color: white;
    border: 0;
}

.list-group .main-nav-sidebar-element.active {
    margin: 0;
    background-color: white;
    color:rgb(200, 16, 46);
}

.list-group .main-nav-sidebar-element.active .icon-wrapper {
    color:rgb(200, 16, 46);
}

.icon-wrapper {
    margin-bottom: 1px;
    margin-top: 4px;
    color: rgb(200, 16, 46);
}

.account-icon {
    color: white;
}

.list-group .main-nav-sidebar-element.active .icon-wrapper .account-icon {
    color:rgb(163, 163, 163);
}



