html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 } 

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.custom-sidebar {
    background-color: black;
    color: white;
    height: 100%;
    width: 80px;
    padding: 0;
    margin: 0;
    position: fixed;
    margin-left: 12px;

}

.container-fluid {
    padding: 0;
}

.main-fluid-container {
    height: 100%;
}

.custom-sidebar a {
    text-decoration: none;
}

.sidebar-element-logo img {
    width: 100%;
}

.icon-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.74em;
    color: white;
    height: 60px;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 10px;

}

.sidebar-icon {
    transform: scale(2.0);
    color: rgb(183, 44, 44);
    padding-bottom: 5px;
}


.icon-text-container.sidebar-element-selected {
    background-color: white;
    color: rgb(183, 44, 44);
}

.sidebar-icon.account-icon {
    color: rgb(191, 184, 184);
}

.icon-text-container:hover {
    opacity: 0.88;
    transition: opacity 0.13s;
}


/* ACCOUNT PAGE */
.account-nav-sidebar {
    width: 199px;
    max-width: 199px;
}

.account-nav-sidebar a{
    text-decoration: none;
}

.non-selected-list-item a{
    color: rgb(183, 44, 44);
}

.non-selected-list-item {
    margin-bottom: 14px;
}

.non-selected-list-item:hover {
    opacity: 0.8;
}

.selected-list-item {
    color: black;
    margin-bottom: 16px;
    border-left: 2px solid black;
    margin-left: -5px;
    padding-left: 3px;

}
.selected-list-item a {
    color: black;
}

.selected-list-item:hover {
    opacity: 0.8;
}

/* PROFILE TIME */

.header-content-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding-left: 80px;
    flex: 1;
    margin-bottom: 0;
    margin-left: 38px;
}

.course-header-content-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding-left: 80px;
    flex: 1;
    margin-bottom: 0;
    margin-left: 38px;
}

@media (max-width: 768px) {
    .course-header-content-container {
        display: flex;
        flex-direction: column;
        margin: 25px;
        flex: 1;
        margin-bottom: 0;
        margin-left: 38px;
        padding-left: 0px;
    }

}

.profile-content-container {
    display: flex;
    flex: 1;
    margin-top: 5px;
}

#profile-icon {
    font-size: 124px;
    color: rgb(144, 144, 144);
    padding-bottom: 10px;
}

.profile-content {
    padding: 0px 40px;
    margin-bottom: 80px;
}

.bottom-padding-40 {
    padding-bottom: 40px;
}

.red-link {
    color: rgb(183, 44, 44);
}

.link-icon {
    padding-right: 5px;
}

/* EDIT PROFILE */

.edit-profile-flexbox input,
.edit-profile-flexbox select {
    margin-bottom: 10px;
}

.bottom-margin-10 {
    margin-bottom: 10px;
}

.right-margin-5 {
    margin-right: 5px
}

.link-right-arrow {
    margin-top: 38px;
}

/* DASHBOARD */

.dashboard-header {
    color: rgb(107, 104, 104);
}

.dashboard-courses-container {
    padding-left: 130px;
    padding-right: 34px;

}

.dashboard-course-card {
    min-width: 260px;
    max-width: 260px;
    margin: 15px;
    

}

.cards-container {
    max-width: 1160px;
    margin-left: -15px
}

/* COURSES HOME */
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #6c757d; 
}

.header-container {
    overflow: auto;
}

.bars-icon, nav {
    float: left;
}

.bars-icon {
    margin-right: 10px;
}


.bars-icon {
    margin-right: 20px;
    margin-top: 6px;
    margin-left: 3px;
    transform: scale(1.2);
    color: rgb(183, 44, 44);
}

.no-text-decoration {
    text-decoration: none;
}

.fa-grip-vertical {
    color: gray;
}

.button-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.button-area .form-select {
    width: auto;
    max-width: 100%; 
}

.button-area .btn-xx {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grey-elip {
    color: black;
}

.courses-nav-sidebar-header {
    font-size: x-small;
}

.course-module-content {
    padding: 0px 40px;
    margin-bottom: 80px;
    font-size: small;
}

/* On md screen and smaller, ignore the col-9 attribute*/
/* so it can take up more horizontal space */
@media (max-width: 992px) {
    .course-module-content {
        width: 100%;
        flex: none;
        max-width: 100%;
    }
}

.right-button-area .btn {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.subtitle {
    font-size: x-small;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.small-screen-dark-header {
    margin-left: -26px;
    margin-right: -25px;
    margin-top: -26px;
    padding: 10px
}

/* ASSIGNMENTS */

.assignment_search_input {
    display: block;
    width: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    
}

.rounded-rectangle {
    display: inline-block; 
    padding: 4px 8px; 
    border-radius: 25px; 
    border: 1px solid #aaa;
}

/* override bootstrap style only on assignment page */
.assignment_page .list-group,
.assignment_page .list-group-item {
    border-radius: 0 !important;
}

.bootstrap-tagsinput {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    padding: 15px;
}

.bootstrap-tagsinput input {
    flex-grow: 1;
}

.bootstrap-tagsinput .tag {
    background-color: #ebebeb;
    color: black !important;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2.2;
}

/* GRADES */

.name-color {
    color: rgb(183, 44, 44) !important;
}

.center-percentage {
    text-align: center;
}

.assignment-name {
    display: block;
    text-align: center;
}

.out-of {
    font-size: smaller;
    display: block;
    text-align: center;
}
















 



