.kanbas-container {
    /* background-color: red; */
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;

}

/* .kanbas-container > div {
    align-self: stretch;
} */


.kanbas-nav-container {
    height: 100%;
    /* background-color: red; */
}

.kanbas-inner-content {
    flex-grow: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    /* flex: 1; */
    padding-left: 24px;
    padding-top: 16px;
    padding-right: 24px
} 